@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* body {
    @apply bg-[#141414] text-white !scrollbar-thin !scrollbar-track-transparent !scrollbar-thumb-red-600;
  } */
}

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-100 pt-8 dark:border-gray-800;
}

.csl-entry {
  @apply my-5;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.carousel {
  @apply flex snap-x snap-mandatory gap-6 overflow-x-hidden;
}

.onHover {
  @apply duration-200 ease-linear hover:translate-x-2 hover:shadow-[-8px_8px_0_rgba(15,23,42)] dark:hover:shadow-[-8px_8px_0_rgba(241,245,249)];
}

.tagLink {
  @apply mr-2 py-1 px-2 text-sm font-normal capitalize  text-slate-500 hover:border-useGL-main hover:text-useGL-darkMain dark:border-slate-400  dark:text-slate-400 dark:hover:text-useGL-main;
}
