@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* body{
    @apply dark:bg-gradient-to-r from-gray-900 to-gray-800
  } */
  /* body {
    @apply bg-[#141414] text-white !scrollbar-thin !scrollbar-track-transparent !scrollbar-thumb-red-600;
  } */

  header {
    @apply sticky top-0 z-50 w-full bg-[#fff]  transition-all dark:bg-gray-900;
  }
}

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-100 pt-8 dark:border-gray-800;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
